# Please try and keep this file organized by alphabetical order. Single files first, then directories.
.DS_Store
.env
.env.testing
.phpunit.result.cache
Homestead.yaml
Homestead.json
config/saml2/
/nbproject/private/
/node_modules
/tests/Unit/Backend/FakeData/FakeFiles/
/public/error_log
/public/uploads
/public/photos/
/public/storage
/vendor/phpunit/phpunit/src/Util/PHP/eval-stdin.php
/storage/app/attachments/*
/storage/app/purifier
/storage/app/recur
/storage/app/public
!storage/app/attachments/include-files
!storage/app/attachments/updater-skip
storage/reports
storage/oauth-private.key
storage/oauth-public.key
.idea
.vscode
public/ckeditor_attachements/
config/link.php

app/phpstan.neon

storage/exported_data.json
storage/app/mail-fetch
config/jwt.php
new-release/*
/nbproject/
storage/public/*
public/storage/
storage/ticket.pdf
lang/customlang.php
/public/hot
storage/clockwork
vendor/faveo-helpdesk/laravel-cache/src/constant.ini
