// ******************* COMMON VARIABLES TO USE **************//

$faveo-fontSize :18px;
$faveo-red:#d73925;
$faveo-white: #fff;


// ******************* COMMON VARIABLES TO USE END***********//

// **************** FAVEO BOX LAYOUT END ************************//


// **************** FAVEO COLOR ********************************//

.faveo-danger{
  color: $faveo-red;
}




// **************** FAVEO COLOR END ****************************//



//***************** COMMON CLASS **********************************//
.faveo-header-title{
  font-size: $faveo-fontSize;
  font-weight: 500;
  text-transform: capitalize;

}

.faveo-trash{
  color: $faveo-red;
  cursor: pointer;
  font-size: 18px;
}

.faveo-add{
  color: green;
  cursor: pointer;
}

.m-clear{
  margin: 0px;
}

.faveo-field-danger {
  border-color:$faveo-red;
}

.faveo-danger-text{
  @extend .faveo-trash;
  font-size: 14px;
  cursor: none;
}

.is-danger{
  color:$faveo-red;
}

.has-error .form-control, .has-error .dropdown-toggle, .is-danger > .dropdown-toggle, .field-danger > .dropdown-toggle,  .field-danger, .has-error{
  border-color: $faveo-red !important;
}

.form-field-template .form-control {
  margin-bottom: 0!important;
}

.relate{
  position: relative;
}




//***************** COMMON CLASS END*******************************//


.box-container{
  margin: 20px 10px;
  border: 1px solid #ddd;
  .box-header.with-border{
    padding-bottom:4px;
    background-color: #eee;
  }
}
.box.box-primary {
  border-top-color: #3c8dbc;
  padding: 8px;
}

.box-header {
  h3{
    font-family: Tahoma;
    text-transform: capitalize;
  }
}

input .form-control{
  border-radius : 30px !important
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.margin-right-20 {
  margin-left: 20px !important;
}

.margin-left-3 {
  margin-left: 3px !important;
}

.flex {
  display: flex !important;
}

.break{
  word-break: break-word;
}

.faveo-dropdown {
  position: absolute;
  right: 0;
  z-index: 3;
  background: white;
  border: 1px solid #d2d6de;
  min-width:250px!important;
  padding-top: 10px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  font-size:14px;
}

.menu-header {
  padding: 5px;
  border-bottom: 1px solid #d2d6de;
  font-weight: 700;
  padding-left: 10px;
}

.menu-element {
  padding: 4px 10px;
  border-bottom: 1px solid #eaecef;
  color: #828282;
  display: block;
  padding: 8px 8px 8px 20px;
  cursor: pointer;
}

.menu-element:hover {
  color:black;
  background-color: #e1e3e9;
}

.element-active {
  color:white;
  background-color: #0366d6;
}

.element-active:hover {
  color:white;
  background-color: #0366d6;
}

.padding-top-12{
  padding-top: 12px!important;
}

.faveo-table>thead {
  padding-bottom: 4px;
  background-color: #eee;
  font-family: Tahoma;
  font-weight: 100 !important;
}

.faveo-table>th {
  font-weight: lighter;
}

.faveo-table>tbody+tbody{
  border: 0;
}

.margin-top-25{
  margin-top: 25px;
}

.margin-auto{
  margin: auto;
}

.margin-10{
  margin: 10px;
}

.margin-15{
  margin: 15px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-left-10{
  margin-left: 10px !important;
}

.margin-0{
  margin:0!important;
}

.height-100-percent{
  height: 100% !important;
}

.line-height-0{
  line-height: 0px !important;
}

.padding-left-10{
  padding-left: 10px;
}

.margin-horizontal-10{
  margin: 0 10px 0 10px;
}

.margin-horizontal-5{
  margin: 0 5px 0 5px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-horizontal-12{
  margin-left: 12px;
  margin-right: 12px;
}

.site-search .form-border{
  z-index : auto !important;
}

.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-top-8 {
  margin-top: 8px;
}

.min-height-300{
  min-height: 300px;
}

.max-width-max-content {
  max-width: max-content !important;
}

.tooltip-inner {
  // it looks ugly when tooltip has more content but less width
  max-width: 600px;
}

.form-group.has-error label {
    color: #dd4b39;
}

select.form-control, input.form-control {
  height: 36px !important;
}

.m-unset{ margin : unset !important;}

.table-bordered {
    border: 1px solid #dee2e6 !important;
}

.pull-right { float : right; }

.timeline-body { overflow : auto;}

.status-list { min-height : 45px; max-height: 250px; overflow-y: auto; overflow-x: hidden; }

.pointer { cursor : pointer;}

.pointer_normal { cursor : auto !important;}

.tox .tox-toolbar--scrolling { flex-wrap: wrap !important; }

@media only screen and (max-width: 600px)
{
  .tox {
    display: grid !important;
  }

  .flex {
    display: block !important;
  }

  .faveo-dynamic-select .vs__selected .selected {
    max-width: 200px !important;
  }
}

#thread_desc blockquote { border-left: 1px solid #3c8dbc !important;}

.ticket_break_hidden_area {
  background-color: #fff;
  border-left: 1px solid #3c8dbc;
  margin: 1.5em 0.7rem;
  padding: 0.5em 0.7rem;
}

.table_btn { background: gainsboro; }

.not-cursor { cursor : not-allowed !important;}

.v-popper__inner div { max-width: 300px !important; word-break: break-word !important; }

.btn { margin-right: 4px !important; }

.timeline-actions-span .btn-xs { font-size: .75rem!important }

.table-bordered th { background: inherit !important; }

.v-popper__inner { text-align: center !important; }

.mx-time-option { text-align: left !important; }

.task_fields { max-height: 300px;overflow-y: auto;overflow-x: hidden; }

.element-list-box {max-width: 300px;max-height: 100px;overflow: auto;}

input.radioMargin {margin-top: 1px !important;vertical-align: middle;}

textarea#task_description {resize: vertical !important;}

.button_no_border {border: 0;}

.is-danger { margin-left: 2px; }

.VueTables__table .resize-handle { display: none !important; }

.tox-promotion-link { display: none !important; }

.tox-tinymce { height: 500px !important; }

.text-end { text-align: end; }

.drag-handle {
  cursor: move;
}
.mt_5 { margin-top: 5px; }

.mt_3 { margin-top: 3px; }

.section-card:hover { border: 1px #c2c3c4 dashed; }